<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReasonCategory</key>
	<dict>
		<key>TOP LOCATIONS BY ALL CAUSES</key>
		<dict>
			<key>order</key>
			<integer>12</integer>
			<key>icon</key>
			<string>top locations by all causes_90</string>
		</dict>
		<key>WEEKEND EARLY MORNING</key>
		<dict>
			<key>order</key>
			<integer>11</integer>
			<key>icon</key>
			<string>weekend early morning_90</string>
		</dict>
		<key>AFTERNOON RUSH HOUR</key>
		<dict>
			<key>order</key>
			<integer>10</integer>
			<key>icon</key>
			<string>afternoon rush hour_90</string>
		</dict>
		<key>MORNING RUSH HOUR</key>
		<dict>
			<key>order</key>
			<integer>9</integer>
			<key>icon</key>
			<string>morning rush hour_90</string>
		</dict>
		<key>RAN OFF ROAD</key>
		<dict>
			<key>order</key>
			<integer>8</integer>
			<key>icon</key>
			<string>ran off road_90</string>
		</dict>
		<key>IMPROPER CHANGE LANE</key>
		<dict>
			<key>order</key>
			<integer>7</integer>
			<key>icon</key>
			<string>improper lane change_90</string>
		</dict>
		<key>STOP SIGN VIOLATION</key>
		<dict>
			<key>order</key>
			<integer>6</integer>
			<key>icon</key>
			<string>stop sign violation_90</string>
		</dict>
		<key>RED-LIGHT RUNNING</key>
		<dict>
			<key>order</key>
			<string>5</string>
			<key>icon</key>
			<string>red-light running_90</string>
		</dict>
		<key>LEFT TURN</key>
		<dict>
			<key>order</key>
			<integer>4</integer>
			<key>icon</key>
			<string>left turn_90</string>
		</dict>
		<key>FOLLOWED TOO CLOSELY</key>
		<dict>
			<key>order</key>
			<integer>3</integer>
			<key>icon</key>
			<string>Followed too closely_90</string>
		</dict>
		<key>CYCLISTS</key>
		<dict>
			<key>order</key>
			<integer>2</integer>
			<key>icon</key>
			<string>Cyclist_90</string>
		</dict>
		<key>MOTORCYCLISTS</key>
		<dict>
			<key>order</key>
			<integer>1</integer>
			<key>icon</key>
			<string>Motorcyclist_90</string>
		</dict>
		<key>PEDESTRIANS</key>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>icon</key>
			<string>Pedestrian_90</string>
		</dict>
	</dict>
	<key>ServerBaseDev</key>
	<string>http://101.231.116.154:8080/STRESTWeb</string>
	<key>ServerBase</key>
	<string>http://129.128.250.97:8080/STRESTWeb</string>
</dict>
</plist>
